@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#app {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background: #f8fafc;
  font-family: Inter, sans-serif;
}